<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header title">
      <a class="navbar-brand">Blogs</a>
    </div>
    <ul class="nav navbar-nav key">
      <li class="active"><a href="<%= root_path %>">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="<%= edit_model_registration_path %>"><span class="glyphicon glyphicon-user"></span> Edit</a></li>
      <!-- <li><a href="<%= destroy_model_session_path method: :delete %>"><span class="glyphicon glyphicon-log-in"></span>LogOut</a></li> -->
      <li><%= link_to "LogOut", destroy_model_session_path, method: :delete %></li>
    </ul>
  </div>
</nav>

      
      
    <%= yield %>
  </body>
</html>
